p {
  margin: 2em;
  font-size: 1.2em;
}
h1 {
  font-size: 2.6em;
  font-weight: bold;
  font-family: cursive;
}
h2 {
  font-size: 1.7em;
  text-decoration-line: underline;
}
h3 {
  font-size: 1.3em;
}
img {
  width: 300px;
  height: 300px;
}
nav {
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 1em;
  border-bottom: palevioletred solid 1.5px;
}
nav a {
  color: palevioletred;
  margin-right: 2em;
  font-size: 1.7em;
  text-decoration-line: none;
  text-align: right;
}
nav a:hover {
  background-color: palevioletred;
  color: #fff;
  padding: 0.3em;
  border-radius: 5px;
}
footer {
  background-color: mistyrose;
  width: 100%;
  height: 10em;
  text-align: center;
}
footer ul {
  list-style: none;
}
.banner {
  margin: 1em;
  padding: 1em 0.2em;
  background-color: mistyrose;
  text-align: center;
}
.recipe-card {
  margin-left: 2em;
  width: 80vw;
  font-size: 1.2em;
  color: #333;
}
.relative {
  position: relative;
  top: 50px;
  left: 50px;
}
.fixed {
  position: fixed;
  top: 300px;
  left: 300px;
}
.container {
  position: relative;
}
.absolute {
  position: absolute;
  top: 230px;
  left: 230px;
}
